discord.py==1.2.2
Flask==1.0.2
google==2.0.2
beautifulsoup4==4.7.1
gTTS==2.0.3
discord-interactive==3.0
pyfiglet==0.8.post1
Pillow==6.0.0
wikipedia==1.4.0
aiohttp==3.5.4
jishaku==1.14.0.129
Whoosh==2.7.4


Please note that this is a growing and evolving document. Over time I will be adding more and more requirements.
