<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
  <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
  <title>
    Invite YashBot3001
  </title>
  <style>
    .wrapper {
      text-align: center;
    }
    .center {
      margin: auto;
      width: 60%;
      padding: 10px;
    }
  </style>
  </head>
  <body>
    <h1 align="center">Invite YashBot3001!</h1>
    <div class="wrapper">
    <button class="button"><a href="https://discordapp.com/oauth2/authorize?scope=bot&client_id=565318846349705230" style="color:white" align="center">Invite</a></button>
    </div>
    <div class="center">
    <blockquote><p><em>Invite YashBot3001 to your own server to do things like search the web, do math, and much more.</em></p></blockquote>
    </div>
  </body>
</html>
