<html style="background-color:Orange;">
  <head>
  <title>
    Invite YashBot3001
  </title>
  <style>
.wrapper {
  text-align: center;
}
.button {
  background-color: #FF0000; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  top: 50%
} 
</style>
  </head>
  <body>
    <h1 align="center">Invite YashBot3001!</h1>
    <p>Invite YashBot3001 to your own server to do things like search the web, do math, and much more.</p>
    <div class="wrapper">
    <button class="button"><a href="https://discordapp.com/oauth2/authorize?scope=bot&client_id=565318846349705230" style="color:yellow">Invite</a></button>
    </div>
  </body>
</html>
  
