<!DOCTYPE html>
<html>
  <head>
  
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">


<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">


<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
  <title>
    Invite YashBot3001
  </title>
  <style>
    .center {
      text-align: center;
    }
    .wrapper {
      margin: auto;
      width: 60%;
      padding: 10px;
    }
  </style>
  </head>
  <body>
    <h1 align="center">Invite YashBot3001!</h1>
    <div class="center">
    <a class="button" href="https://discordapp.com/oauth2/authorize?scope=bot&client_id=565318846349705230" style="color:white">Invite</a>
    </div>
    <div class="wrapper">
    <blockquote><p><em>Invite YashBot3001 to your own server to do things like search the web, do math, and much more.</em></p></blockquote>
    </div>
  </body>
</html>
